<html>
<head>
<title>Trash or Treasure? // {{ junkpollitem.name }} </title>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Bangers|Raleway:100' rel='stylesheet' type='text/css' />
<head>

<body>

<div id="wrapper">

<h2>{{ junkpollitem.name }} <span>c. {{ junkpollitem.year}} </span></h2>

<img class="detail" src="/{{ junkpollitem.photo }}" alt="" />


<div class="sidebar">
	<div id="input">	
		<a class="treasure" href="{% url detail junkpollitem.pk %}treasure">Treasure this Gem</a>
		<a class="trash" href="{% url detail junkpollitem.pk %}trash">Trash that Shh</a>
	</div>

	<div id="meta">
		<h2>Treasure:&nbsp;{{ junkpollitem.treasure_counter }}</h2>
		<h2>Trash:&nbsp;{{ junkpollitem.trash_counter }}</h2>
	
		<h3><span>Description</span></h3>
		<p>{{ junkpollitem.description }}</p>
		
		<h3><span>Memory</span></h3>
		<p>{{ junkpollitem.memory }}</p>

	</div>

	<div id="controls">
{% comment %} <a class="last" href= {% url detail previous_item.pk %} >&laquo; this</a>	{% endcomment %}

{% comment %}		<a class="next" href={% url detail next_item.pk %}>skip &raquo;</a>	{% endcomment %}
	</div>
	

</div>

<div id="you_might_also_dislike">
<h3>You might also dislike:</h3>


{% for i in relatedtrash %}
	<a href="{% url detail i.pk %}"><img class="quarter" src="/{{ i.photo }}" alt="" /></a>
{% endfor %}	
</div>





</div>
</body>
</html>

