<html>
<head>
<title>Trash or Treasure? // You decide.</title>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Bangers|Raleway:100' rel='stylesheet' type='text/css'>
<head>


<body>

<div id="wrapper">


<h1>Trash or <span>Treasure</span>?</h1>

<div id="aboveFold">

<a href="#18"><img class="whole" src="/static/img/object18.jpg" alt="" /></a>

<a href="{% url the_detail_view 2 %}"><img class="half" src="/static/img/object2.jpg" alt="" /></a>
<a href="{% url the_detail_view 3 %}"><img class="half" src="/static/img/object3.jpg" alt="" /></a>

</div>

<div class="clearfix"></div>

<div id="featured_treasure" class="width_2 floatLeft">
	<h3>Featured treasure:</h3>
	<a href="#19"><img class="half" src="/static/img/object19.jpg" alt="" /></a>
	<a href="#6"><img class="half" src="/static/img/object6.jpg" alt="" /></a>
</div>


<div id="featured_trash" class="width_1 floatLeft">
	<h3>Featured trash:</h3>
	<a href="#7"><img class="quarter" src="/static/img/object7.jpg" alt="" /></a>
	<a href="#16"><img class="quarter" src="/static/img/object16.jpg" alt="" /></a>
	<a href="#7"><img class="quarter" src="/static/img/object8.jpg" alt="" /></a>
	<a href="#16"><img class="quarter" src="/static/img/object5.jpg" alt="" /></a>
</div>




<h3>What's the deal here?</h3>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h3>But...why?</h3>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h3>Suggested reading:</h3>
	http://en.wikipedia.org/wiki/Learning
	http://en.wikipedia.org/wiki/Compulsive_behavior
	http://www.suite101.com/content/malignant-narcissism-a29906
	
</div>


</body>
</html>